@media screen and (max-width: 1140px) {
  header {
    padding: 20px 40px 25px 40px;
  }
  .nav-item {
    display: none;
  }
  .logo {
    width: 120px;
  }
}
/* smaller screen */
@media screen and (max-width: 980px) {
  .header-text h2 {
    margin: 30px 0;
    font-size: 3rem;
    line-height: normal;
  }
  .header-text p {
    margin-bottom: 50px;
  }
  .header-image {
    position: relative;
    width: 80vw;
  }
  .companies {
    display: flex;
  }
  .api {
    margin-top: 50px;
  }
  .api-heading {
    margin: 0;
    text-align: center;
  }
  .cards {
    flex-direction: column;
  }
  .card {
    width: 50vw;
    padding: 20px 0px;
  }
  .blog-heading {
    margin: 40px 0;
    font-size: 1.3rem;
    text-align: center;
  }
  .blog-cards {
    flex-direction: column;
    align-items: center;
  }
  .blog-card {
    flex-direction: column;
    width: 80vw;
    padding: 0;
    margin-bottom: 20px;
  }
  .blog-img {
    width: 80vw;
  }
  .blog-content {
    margin-bottom: 15px;
  }
  .blog-bottom {
    display: none;
  }
  .blog-author {
    margin: 0;
    position: relative;
    padding-bottom: 15px;
  }
  .faq-img {
    display: none;
  }
  .download-section {
    flex-direction: column;
  }
  .download-email {
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }
  .download-email input {
    width: 60vw;
    display: block;
  }
  .download-email button {
    display: block;
    margin-left: 0;
    margin-top: 15px;
    width: 60vw;
  }
  .footer-section {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }
  .footer-left {
    margin-bottom: 10px;
    align-items: center;
  }
}

html {
  overflow-x: hidden;
}
